<div class="fretboard">
  <div class="content">
    <div class="stripe">
      <h3>About Fretboard Heatmaps!</h3>
      <hr/>
      <p>This site began with a simple curiosity. I wanted a way to compare the tendencies of different guitar players.</p>
      <p>I began by writing Ruby code to scrape the internet and download many tablature files. I then used R to produce a data set that would drive these visualizaions.</p>
      <p>The data set is stored in MongoDB. The site is served via a Rails app and the visualizations are implemented via Backbone.js</p>
    </div>
  </div>
</div>
