<div class="fretboard">
  <div class="content">
    <div class="stripe">
      <h3>Contact Me</h3>
      <hr/>
      <p>I'm a freelance Ruby on Rails developer. Please contact me if you have work that needs done, or if you just want to chat :)</p>
      <p>Twitter: <%= link_to "@DoomSquadSeven", "https://twitter.com/DoomSquadSeven" %></p>
      <p>Email: <%= mail_to "joecannatti@gmail.com" %></p>
    </div>
  </div>
</div>
