<div class="fretboard">
  <div class="selector">
    <select id="fretboard_selector"></select>
  </div>
  <% (0..24).each do |fret_num| %>
    <div class="fret fret-<%= fret_num %>">
      <% (0..5).each do |str_num| %>
        <div class="string string-<%= str_num %>">
          <div class="dot">
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  fretboards = new FretHeatmapApp.Collections.FretboardsCollection();
  fretboards.reset(<%= @fretboards.to_json.html_safe %>);

  new FretHeatmapApp.Views.Fretboard({
    collection: fretboards,
    el: $(".fretboard")
  }).render();
</script>
