// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fretboard {

  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .selector {
    margin: 20px;
    width: 100%;
  }

  .fret {

    &.fret-0 .string {
      background-color: white;
    }

    text-align: center;
    
    .string {
      height: 75px;
      width: 75px;
      background-color: grey;
      display: inline-block;


      .dot {
        background-color: #ed1260;
        width: 100%;
        height: 100%;
        opacity: 0;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }
}
