// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  h1 {
    color: #D33;
    font-size: 90px;
    font-family: head;
    margin: 0;
    padding-left: 10px;
    padding-top: 20px;
  }

  .nav {
    background-color: #D33;
    text-align: left;

    .button {
      display: inline-block;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      margin: 0;
      font: 24px/100% head;
      padding: 10px;
      color: black;
    }
    .button.current {
      text-decoration: none;
      color: #D33;
      background-color: black;
    }
    .button:hover {
      @extend .button.current;
    }
    .button:active {
      position: relative;
      top: 1px;
    }
  }
}

.fretboard {

  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .sidebar {
    float: left;
    width: 350px;
    background-color: #D33;
    padding: 8px;
    margin-left: 8px;
    
    .stripe {
      height: 100%;
      width: 100%;
      background-color: #000;
      display: inline-block;

      h3 {
        color: #D33;
        font-family: head;
        font-size: 17pt;
      }

      hr {
        border: 0;
        background-color: #D33;
        height: 2px;
        width: 80%;
      }

      p {
        color: #D33;
        font-family: head;
        margin: 12px;
        text-align: left;
        font-size: 16pt;
      }
    }
  }

  .main {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }


  .selector {
    margin-bottom: 20px;
    //background-image: url(image_path('bo_play_pattern.png'));
    background-color: #000;
    min-height: 50px;
    text-align: left;

    .center {
      margin-left: auto;
      margin-right: auto;
      width:400px;
    }

    p {
      text-align: left;
      color: #D33;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 8px;
      float: left;
      margin-left: 7px;
      margin-top: 13px;
      font-family: head;
      font-size: 17pt;
    }

    .cut {

      select {
        background: #D33;
        min-height: 30px;
        margin-top: 8px;
        font-family: head;
        font-size: 17pt;
        border: 0;
        border-radius: 0;
        padding: 5px;
        -webkit-appearance: none;
      }
    }
  }

  .fret {

    &.fret-0 .string {
      background-color: white;
    }

    text-align: center;

    .roman-numeral {
      width: 35px;
      display: inline-block;
      font-size: 18px;
      vertical-align: middle;
    }
    
    .string {
      height: 35px;
      width: 35px;
      background-color: grey;
      display: inline-block;


      .dot {
        background-color: red;
        width: 100%;
        height: 100%;
        opacity: 0;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }
}
